/* Homepage */

/* Navigation */
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'B612', sans-serif;
    display: block;
}

.nav a {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    padding-right: 30px;
    text-decoration: none;
    border: 1px solid pink;
  }

  .nav a:hover {
    background-color: pink;
  }